@model Souqcom.Models.Category

@{
    ViewData["Title"] = "Edit";
}


<div class="container">

    <br />

    <table class="table table-bordered table-striped text-center">
        <h1>Edit Category</h1>
        <hr />

        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo" class="control-label"></label>
                        <input asp-for="Photo" class="form-control" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="input-group">
                        <div class="form-group p-1">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                        <div class="form-group p-1">
                            <input asp-action="Index" type="submit" value="Back to List" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </table>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
